<footer id="footer">
    <p>
        <a href="/">首页</a>
        |
        <a href="/register">注册</a>
        |
        <a href="/">登录</a>
        |
        <a href="/">联系我们</a>
        |
        <a href="/">关于</a>
    </p>
    Copyright &copy; 2014-2017 All rights reserved.
</footer>