header{width: 100%;height:100%;background: #e93854;}
#nav{background-color: #e93854;}
.layui-nav-bar{background-color: white;}
.layui-this{background-color:#e93854!important;color:white!important;}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{background-color:#fff!important;color:#e93854!important;}
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{background: #e93854;}

body,.wrappr{background: white!important;}
.container{background: white!important;}

.banner{width: 100%;height: 300px;}
.banner>img{width: 100%;height: 100%;}

